body {
    margin: 0;
}
.contentImages {
    display:block;
    position: relative;
}

.contentImages .imgBasePA {
    position: relative;
    z-index: 1;
}

.contentImages .imgMineriaPA {
    position: absolute;
    left: 0;
    z-index: 2;
}

.contentImages .imgPetroleoPA {
    position: absolute;
    left: 0;
    z-index: 3;
}

.contentImages .imgHidroelectricaPA {
    position: absolute;
    left: 0;
    z-index: 4;
}

.contentImages .imgDeforestacioPA {
    position: absolute;
    left: 0;
    z-index: 5;
}

.inputMaps {
    display: block;
}